.mycard{
     background-color: var(--card-color);
     border-radius: 5px;
     width: 100%;
     height: fit-content;
     display: flex; 
     flex-direction: column; 
     align-items: center;
     box-shadow: 1px 1px 5px var(--shadow-color);
}

.profilePic{
     width: 150px;
     height: 150px;
     position: relative;
     transform: translateY(-60px);
     border: 10px solid var(--card-color);
     border-radius: 100%;
     box-shadow: 0 -2px 5px var(--shadow-color);
}

.children{
     transform: translateY(-50px);
}

.mycard h1{
     color: var(--main-text-color);
}